<!DOCTYPE html>
<html lang="en">

<head>

    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <div>
        <h2>Rightful home of TTMM ;)</h2>
    </div>
</body>

</html>